<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/app.js" charset="utf-8"></script>
  <meta charset="utf-8">
  <title>Life Hacks</title>
</head>
<body>
  <header>
    <ul>
      <li><a href="/">Life hacks</a></li>
      <li><a href="/videos">Videos</a></li>
      <li><a href="/videos/new">Add a Video</a></li>
    </ul>
  </header>
  <h1>Life Hacks</h1>
  <main>

    <%- body %>

  </main>
  <footer>
    <p>Made with &hearts; at GA London</p>
  </footer>
</body>
</html>
