<h1>Add Video</h1>

<form method="post" action="/videos">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="description">Description</label>
  <textarea id="description" name="description"></textarea>

  <label for="video">Video</label>
  <input type="text" id="video" name="video">

  <label for="location">Location</label>
  <input type="text" id="location" name="location">


  <input type="submit" value="Submit">
</form>
