<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Old &amp; Funnyy</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Old &amp; Funny</a></li>
        <li><a href="/videos">Videos</a></li>
        <li><a href="/videos/new">Add Park</a></li>
      </ul>
    </header>
    <main>
      <%- body %>
    </main>
    <footer>
      <p>&copy tjshaw.co.uk</p>
    </footer>
  </body>
</html>
